

{% extends "AppCoder/padre.html" %}
{% load static %}
{% block titulo %}HORARIOS DISPONIBLES PADEL {% endblock %}
{% block contenido_que_cambia %}

<form action="{% url 'verificar_disponibilidad' %}" method="GET"> 

    {% csrf_token %}
   
    <input type="datetime" name="datetime" id="datetime" placeholder="INSERTE FECHA">
    <input type="time" name="hora" id="hora" placeholder="INSERTE HORA">
    <input type="submit" value="buscar disponibilidad">


</form>
<h2>{{ mensaje }}</h2>
    
{% endblock %}

